*{box-sizing: border-box}
.table th, .table td {
    vertical-align: middle !important;
    border-top: 0px solid #dee2e6 !important; 
    border-bottom: 0px solid #dee2e6 !important;
    padding: .5rem 0px 0.5rem 0.75rem !important;
}
.table th:nth-child(4) {
    text-align: right;
}
.table td:nth-child(3), .table td:nth-child(4) {  
    text-align: center;  
}

#main {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
}
.card {
    width: 50%;
    border: none;
}
.card-header {
    border: none;
}
.col-sm-2, .col-sm-9  {
    float: left;
}