.flipswitch {
  position: relative;
  width: 111px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.flipswitch input[type=checkbox] {
  display: none;
}
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0px solid #65996C;
  border-radius: 50px;
}
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -moz-transition: margin 0.3s ease-in 0s;
  -ms-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.flipswitch-inner:before {
  content: "Left";
  padding-left: 12px;
  background-color: #7BA272;
  color: #fff;
}
.flipswitch-inner:after {
  content: "Right";
  padding-right: 25px;
  background-color: #cb929a;
  color: #FFFFFF;
  text-align: right;
}
.flipswitch-switch {
  width: 38px;
  margin: -4px;
  background: #ba5460;
  border: 0px solid #65996C;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 79px;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: -22px;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0px;
  background: #6CBD5A;
}