#batteryNO, #batteryIP {
	/*float: right;
    margin-top: -16px;
    margin-left: 35px;*/
}

.battery {
	float: left;
	height: 12px;
	width: 31px;
	border: 1px solid #fff;
	background-color: #428bca;
	border-radius: 2px;
    margin-right: 5px;
    margin-top: 5px;
}
.charged {
	background-color: #43c743;
	margin: 1px;
	margin-top: -5px;
}

.top {
	height: 6px;
    width: 2px;
    background-color: #fff;
    position: relative;
    left: 30px;
    top: 2px;
    border-radius: 0 1px 1px 0;
}
.charge1, .charge2, .charge3, .charge4 {
	width: 6px;
    height: 8px;
    background-color: #52d668;
    position: relative;
    opacity: 0;
}
.charge1 {
	bottom: 5px;
	left: 1px;
	animation: charge-1 3s infinite;
}
@keyframes charge-1 {
	25%, 100% {
		opacity: 1;
	}
}
.charge2 {
	bottom: 13px;
    left: 8px;
	animation: charge-2 3s infinite;
}
@keyframes charge-2 {
	0%, 25% {
		opacity: 0;
	}
	50%, 100% {
		opacity: 1;
	}
}
.charge3 {
	bottom: 21px;
    left: 15px;
	animation: charge-3 3s infinite;
}
@keyframes charge-3 {
	0%, 50% {
		opacity: 0;
	}
	75%, 100% {
		opacity: 1;
	}
}
.charge4 {
	bottom: 29px;
    left: 22px;
	animation: charge-4 3s infinite;
}
@keyframes charge-4 {
	0%, 75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

