
body {
    /*margin: 0 auto;*/
}
#main {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat-img {
    /*float: left;*/
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: auto;
    height: 351px;
}

.panel-primary {
  border-color: #5bc0de;
}

.btn {
  border-radius: 0px;
}

::-webkit-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    background-color: #fff;*/
}

::-webkit-scrollbar
{
    width: 12px;
    /*background-color: #F5F5F5;
    background-color: #fff;*/
}

::-webkit-scrollbar-thumb
{
    /*border-radius: 10px;*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: #dbe5ec;
}


.toggleSwitch {
  /*clear: both;*/
}

#togglePowerNO, #toggleChargeNO, #togglePowerIP, #toggleChargeIP {
  opacity: 0;
}

.label {
  display: inline-block;
  background: #878787;
  width: 4em;
  height: 1.2em;
  border-radius: 0.8em;
  position: relative;
  cursor: pointer;
  background: #878787;
}

#switchPowerNO, #switchChargeNO, #switchPowerIP, #switchChargeIP {
  position: absolute;
  width: 1.9em;
  height: 1.9em;
  margin-top: -0.5em;
  margin-left: -2.2em;
  border-radius: 1em;
  background: #c9c9c9;
  box-shadow: 5px 0px 28px -9px rgba(0, 0, 0, 0.75);
  transition: transform 0.2s ease-in;
}

#togglePowerNO:checked ~ .label, #togglePowerIP:checked ~ .label {
  background: #cb929a;
}

#toggleChargeNO:checked ~ .label, #toggleChargeIP:checked ~ .label {
  background: #76a06d;
}

#togglePowerNO:checked ~ .label #switchPowerNO, #togglePowerIP:checked ~ .label #switchPowerIP {
  background: #ba5460;
  transform: translatex(2.5em);
  transition: transform 0.2s ease-in;
}

#toggleChargeNO:checked ~ .label #switchChargeNO, #toggleChargeIP:checked ~ .label #switchChargeIP {
  background: #6cbd5a;
  transform: translatex(2.5em);
  transition: transform 0.2s ease-in;
}

.card {
  /*width: 100%;*/
  /*height: 41px;*/
  position: relative;
  display: inline-block;
}
.card .img-top {
  display: none;
  position: absolute;
  top: 3px;
  left: 15px;
  z-index: 99;
  cursor: pointer;
}
.card:hover .img-top {
  display: inline;
}

.div-compose, .div-inbox, .div-sent, .div-all {
  height: 351px;
}
#NOKIA .div-compose .panel-body, #IPHONE .div-compose .panel-body {
  height: 301px;
}
.home-menu {
  height: 351px;
  width: 100%;
}

#nokia-draggable, #iphone-draggable {
  cursor: pointer;
}

.mess:hover {
  /*background-color: #e3d3d3;*/
}