/* header {
    background: #299be4;
    color: #fff;
    padding: 16px 30px;
    border-radius: 3px 3px 0 0;
} */

table thead tr {
    background-color: #4caf50;
    color: #fff;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}